/* Descobri que esse é um momento importantissimo pro uso do ";" (ponto e vírgula).
Porque a falta do uso do ponto e vírgula interfere na sessão de código abaixo. Quebrando o código abaixo.
E portanto; não funcionando a aplicação devida da fonte.
E muito provavelmente também quebrando o funcionamento de alguma outra estilização. */

/* Descobri também que o Google Fonts junta em um único link, os endereçamentos para as fontes que forem sendo procuradas e pegas (Get Font) por lá.
Então, assim por exemplo nós teriamos os links individuais para cada fonte:
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

E assim nós teriamos o link mesclado:
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap') */

/* @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap'); */

/* Destivado para inclusão do Peso Semi-Bold @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-quaternária: #007bff;
    --cor-quinária: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

/* Reset simples de formatações padrões dos diferentes navegadores, que são aplicadas automaticamente: */


* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
   padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;

}

.cabecalho__menu__link {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-quaternária);
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

/* 
        Sobre especificações de onde aplicar o Padding por exemplo.

        Ao usar um único valor, como por exemplo: "padding: VALORpx;"
        O valor de espaçamento é aplicado ao redor de tudo que estiver no centro. Um texto por exemplo.
        É aplicado o valor para cima, para baixo, para a esquerda e também para a direita.

        Ao usar dois valores, como por exemplo: "padding: VALORYpx VALORXpx;"
        O VALORYpx é aplicado para cima e também para baixo.
        E o VALORXpx é aplicado para a esquerda e também para a direita.

        Mas ao usar 4 valores, como por exemplo: "padding: VALORCIMApx VALORDIREITApx valorBAIXOpx valorESQUERDApx;
        Seguindo a ordem da esquerda pra direita;
        O primeiro valor (valorCIMApx) será aplicado para CIMA;
        O segundo valor (valorDIREITApx) será aplicado para a DIREITA;
        O tercerio valor (valorBAIXOpx) será aplicado para BAIXO;
        E o quarto valor (valorESQUERDApx); será aplicado para a ESQUERDA;

        Portanto dão no mesmo resultado:
        padding: 21.5px 0;
        Ou:
        padding: 21.5px 0px 21.5px 0px;
    */

.apresentacao__links__navegacao {
    /* background-color: var(--cor-terciaria); */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0px 21.5px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-quinária);
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}